<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>func</key>
		<string>导航栏</string>
		<key>class</key>
		<string>NavBarViewController</string>
	</dict>
	<dict>
		<key>func</key>
		<string>PDF阅读器</string>
		<key>class</key>
		<string>PDFReaderViewerController</string>
	</dict>
	<dict>
		<key>func</key>
		<string>XML解析</string>
		<key>class</key>
		<string>XMLAnalysisViewController</string>
	</dict>
	<dict>
		<key>func</key>
		<string>Moya</string>
		<key>class</key>
		<string>MoyaViewController</string>
	</dict>
	<dict>
		<key>func</key>
		<string>zip</string>
		<key>class</key>
		<string>ZipArchiveController</string>
	</dict>
</array>
</plist>
